@charset "UTF-8";

/* Configurações para telas grandes*/

/*
Paleta de cores:
verde: #49a09d
lilás: #5f2c82
*/

@media screen and (min-width: 710px) and (max-width: 1024px) {
    /* tela de tablet*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 610px;
        transition: ease .3s;
        height: 320px;
    }

    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 60%;
    }

    div#formulario > h1{
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 10px;
    }

    div#formulario > p{
        font-size: .9em;
        padding-bottom: 10px;
    }

}

@media screen and (min-width: 1024px){
    /* tela de desktop*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 924px;
        transition: ease .3s;
        height: 320px;
        
    }

    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 60%;
    }

    div#formulario > h1{
        font-size: 2em;
        text-align: center;
        padding-bottom: 10px;
    }

    div#formulario > p{
        font-size: 1em;
        padding-bottom: 10px;
    }
    
}